@utility alert {
  @apply flex items-center border;

  min-height: var(--element-size);
  padding: var(--element-spacing);
  gap: calc(var(--element-spacing));
  border-radius: var(--element-rounded);
}