@utility badge {
  --badge-width: max-content;

  @apply flex items-center justify-center max-w-full;

  width: ;
  height: ;
  padding: ;
  gap: ;
  border-radius: ;
}

@utility badge-fill {
}

@utility badge-outline {
}

@utility badge-soft {
}