@utility badge {
  --element-w: max-content;

  @apply flex items-center justify-center max-w-full;

  width: var(--element-w);
  height: var(--element-h);
  padding: 0 var(--element-spacing);
  gap: calc(var(--element-spacing) / 1.5);
  border-radius: var(--element-rounded);
  font-size: var(--element-text);
  line-height: var(--element-line);
}

@utility badge-fill {
  @apply bg-palette text-brush;
}

@utility badge-outline {
  @apply border border-palette text-palette;
}

@utility badge-soft {
  @apply bg-palette/10 text-palette;
}