/*
  Start Base styles
*/
@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground outline-foreground border-foreground border-solid;
  }

  * {
    @apply select-none;

    scrollbar-width: thin;
    scrollbar-color: var(--color-foreground) transparent;
  }

  a,
  span,
  label {
    @apply inline-block;
  }

  input:focus,
  textarea:focus {
    @apply outline-none;
  }

  textarea {
    @apply resize-none;
  }
}
/*
  End Base styles
*/

/*
  Start Utilities
*/
@utility no-scrollbar {
  scrollbar-width: none;
}

@utility w-fix {
  @apply w-max max-w-full;
}

@utility h-fix {
  @apply h-max max-h-full;
}

@utility highlight {
  @apply px-1.5 bg-primary/10 text-primary-foreground rounded;
}

@utility ignore {
  @apply opacity-0 invisible pointer-events-none;
}

@utility not-ignore {
  @apply opacity-100 visible pointer-events-auto;
}

@utility range-slider {
  @apply bg-primary rounded-full appearance-none cursor-grab active:cursor-grabbing;
}
/*
  Start Utilities
*/