@utility btn {
  --element-w: max-content;

  @apply max-w-full flex items-center justify-center transition-all outline-solid outline-2 outline-transparent focus-visible:outline-palette disabled:opacity-50 disabled:cursor-not-allowed active:opacity-50;

  width: var(--element-w);
  height: var(--element-h);
  padding: 0 var(--element-spacing);
  gap: calc(var(--element-spacing) / 1.5);
  border-radius: var(--element-rounded);
}

@utility btn-fill {
  @apply bg-palette text-brush outline-offset-2 hover:bg-palette/90;
}

@utility btn-outline {
  @apply border border-palette text-palette outline-offset-2 hover:bg-palette/10;
}

@utility btn-soft {
  @apply bg-palette/10 text-palette hover:bg-palette/20;
}

@utility btn-ghost {
  @apply text-palette hover:bg-palette/10;
}