@utility card {
  padding: var(--element-spacing);
  border-radius: var(--element-rounded);
}

@utility card-menu {
  @apply w-max;
}

@utility card-y {
  @apply flex flex-col;

  row-gap: var(--element-spacing);
}

@utility card-x {
  @apply flex items-center justify-between;

  column-gap: var(--element-spacing);
}