@utility card {
  padding: var(--element-spacing);
  border-radius: var(--element-rounded);
  font-size: var(--element-text);
  line-height: var(--element-line);
}

@utility card-menu {
  @apply w-max;
}

@utility card-y {
  @apply flex flex-col;

  row-gap: calc(var(--element-spacing) / 2);
}

@utility card-x {
  @apply flex items-center justify-between;

  column-gap: calc(var(--element-spacing) / 2);
}