/*
  Start Main
*/
@utility card {
  width: var(--card-width, auto);
  max-width: var(--card-max-width, 100%);
  padding: var(--card-spacing, calc(var(--spacing) * 3));
  border-radius: var(--card-rounded, var(--radius-lg));
}
/*
  End Main
*/

/*
  Start Variants
*/
@utility card-menu {
  --card-width: max-content;
  --card-max-width: max-content;
}

@utility card-fix-menu {
  --card-width: max-content;
  --card-max-width: 100%;
}

@utility card-y {
  @apply flex flex-col;

  row-gap: var(--card-spacing);
}

@utility card-x {
  @apply flex;

  column-gap: var(--card-spacing);
}
/*
  End Variants
*/

/*
  Start Sizes
*/
@utility card-xs {
  --card-spacing: calc(var(--spacing) * 1.5);
  --card-rounded: var(--radius-md);
}

@utility card-sm {
  --card-spacing: calc(var(--spacing) * 3);
  --card-rounded: var(--radius-lg);
}

@utility card-md {
  --card-spacing: calc(var(--spacing) * 5);
  --card-rounded: var(--radius-xl);
}

@utility card-lg {
  --card-spacing: calc(var(--spacing) * 8);
  --card-rounded: var(--radius-2xl);
}

@utility card-xl {
  --card-spacing: calc(var(--spacing) * 12);
  --card-rounded: var(--radius-3xl);
}
/*
  End Sizes
*/
