/* Input element should be a `label` */

@utility input {
  --element-w: auto;

  @apply text-palette flex cursor-text relative transition-all outline-solid outline-2 outline-transparent focus-within:outline-palette has-[input:disabled]:opacity-50 has-[input:disabled]:cursor-not-allowed has-[[type=file]]:cursor-pointer;

  width: var(--element-w);
  height: var(--element-size);
  border-radius: var(--element-rounded);
  padding: var(--element-spacing);
  gap: var(--element-spacing);

  &:has(input, select) {
    @apply items-center;

    padding: 0 var(--element-spacing);
  }

  &:has(textarea) {
    @apply h-[25dvh];

    padding: var(--element-spacing);
  }
}

@utility input-field {
  @apply bg-transparent placeholder:text-palette/50 flex-1 not-[[type=file]]:h-full max-w-full [[type=file]]:cursor-pointer;

  &:where(select) {
    @apply cursor-pointer;
  }
}

@utility input-outline {
  @apply border border-palette outline-offset-2;
}

@utility input-soft {
  @apply bg-palette/10;
}