@utility kbd {
  @apply bg-palette/10 text-palette transition-transform active:translate-y-0.5;

  padding: var(--element-spacing);
  border-radius: var(--element-rounded);
  font-size: var(--element-text);
  line-height: var(--element-line);
  box-shadow: 0 2px 0 1px var(--color-palette);

  &:active {
    box-shadow: 0 1px 0 1px var(--color-palette);
  }
}