/*
  Start Variants
*/
@utility separate {
  --separate-palette: var(--color-foreground);
  --separate-border-width: 1px;
  --separate-spacing: calc(var(--spacing) * 5);
}

@utility separate-t {
  border-top-width: var(--separate-border-width);
  padding-top: var(--separate-spacing);
  margin-top: var(--separate-spacing);
}

@utility separate-r {
  border-right-width: var(--separate-border-width);
  padding-right: var(--separate-spacing);
  margin-right: var(--separate-spacing);
}

@utility separate-b {
  border-bottom-width: var(--separate-border-width);
  padding-bottom: var(--separate-spacing);
  margin-bottom: var(--separate-spacing);
}

@utility separate-l {
  border-left-width: var(--separate-border-width);
  padding-left: var(--separate-spacing);
  margin-left: var(--separate-spacing);
}

@utility separate-y {
  border-top-width: var(--separate-border-width);
  border-bottom-width: var(--separate-border-width);
  padding-top: var(--separate-spacing) 0;
  margin-top: var(--separate-spacing) 0;
}

@utility separate-x {
  border-left-width: var(--separate-border-width);
  border-right-width: var(--separate-border-width);
  padding-top: 0 var(--separate-spacing);
  margin-top: 0 var(--separate-spacing);
}
/*
  End Variants
*/

/*
  Start Sizes
*/
@utility separate-xs {
  --separate-border-width: 1px;
  --separate-spacing: calc(var(--spacing) * 1.5);
}

@utility separate-sm {
  --separate-border-width: 1px;
  --separate-spacing: calc(var(--spacing) * 3);
}

@utility separate-md {
  --separate-border-width: 2px;
  --separate-spacing: calc(var(--spacing) * 5);
}

@utility separate-lg {
  --separate-border-width: 3px;
  --separate-spacing: calc(var(--spacing) * 8);
}

@utility separate-xl {
  --separate-border-width: 4px;
  --separate-spacing: calc(var(--spacing) * 12);
}
/*
  End Sizes
*/
