@utility separate-t {
  @apply border-t;

  padding-top: var(--element-spacing);
  margin-top: var(--element-spacing);
}

@utility separate-r {
  @apply border-r;

  padding-right: var(--element-spacing);
  margin-right: var(--element-spacing);
}

@utility separate-b {
  @apply border-b;

  padding-bottom: var(--element-spacing);
  margin-bottom: var(--element-spacing);
}

@utility separate-l {
  @apply border-l;

  padding-left: var(--element-spacing);
  margin-left: var(--element-spacing);
}

@utility separate-y {
  @apply border-y;

  padding: var(--element-spacing) 0;
  margin: var(--element-spacing) 0;
}

@utility separate-x {
  @apply border-x;

  padding: 0 var(--element-spacing);
  margin: 0 var(--element-spacing);
}
