/*
  Start Variants
*/
@utility separate-t {
  --separate-palette: var(--color-foreground);

  border-top-width: var(--separate-border-width, 1px);
  padding-top: var(--separate-spacing, calc(var(--spacing) * 5));
  margin-top: var(--separate-spacing, calc(var(--spacing) * 5));
}

@utility separate-r {
  --separate-palette: var(--color-foreground);

  border-right-width: var(--separate-border-width, 1px);
  padding-right: var(--separate-spacing, calc(var(--spacing) * 5));
  margin-right: var(--separate-spacing, calc(var(--spacing) * 5));
}

@utility separate-b {
  --separate-palette: var(--color-foreground);

  border-bottom-width: var(--separate-border-width, 1px);
  padding-bottom: var(--separate-spacing, calc(var(--spacing) * 5));
  margin-bottom: var(--separate-spacing, calc(var(--spacing) * 5));
}

@utility separate-l {
  --separate-palette: var(--color-foreground);

  border-left-width: var(--separate-border-width, 1px);
  padding-left: var(--separate-spacing, calc(var(--spacing) * 5));
  margin-left: var(--separate-spacing, calc(var(--spacing) * 5));
}

@utility separate-y {
  --separate-palette: var(--color-foreground);

  border-top-width: var(--separate-border-width, 1px);
  border-bottom-width: var(--separate-border-width, 1px);
  padding-top: var(--separate-spacing, calc(var(--spacing) * 5)) 0;
  margin-top: var(--separate-spacing, calc(var(--spacing) * 5)) 0;
}

@utility separate-x {
  --separate-palette: var(--color-foreground);

  border-left-width: var(--separate-border-width, 1px);
  border-right-width: var(--separate-border-width, 1px);
  padding-top: 0 var(--separate-spacing, calc(var(--spacing) * 5));
  margin-top: 0 var(--separate-spacing, calc(var(--spacing) * 5));
}
/*
  End Variants
*/

/*
  Start Sizes
*/
@utility separate-xs {
  --separate-border-width: 1px;
  --separate-spacing: calc(var(--spacing) * 1.5);
}

@utility separate-sm {
  --separate-border-width: 1px;
  --separate-spacing: calc(var(--spacing) * 3);
}

@utility separate-md {
  --separate-border-width: 2px;
  --separate-spacing: calc(var(--spacing) * 5);
}

@utility separate-lg {
  --separate-border-width: 3px;
  --separate-spacing: calc(var(--spacing) * 8);
}

@utility separate-xl {
  --separate-border-width: 4px;
  --separate-spacing: calc(var(--spacing) * 12);
}
/*
  End Sizes
*/