@import "tailwindcss";
@import "@kadoui/tailwindcss";

@theme {
  --color-background: #efefef;
  --color-background-thick: #dfdfdf;
  --color-foreground: #151515;

  --color-palette: var(--color-foreground);
  --color-brush: var(--color-background);
}

[data-theme="dark"] {
  --color-background: #151515;
  --color-background-thick: #202020;
  --color-foreground: #fafafa;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@utility palette-background {
  --color-palette: var(--color-background);
  --color-brush: var(--color-foreground);
}

@utility palette-background-thick {
  --color-palette: var(--color-background-thick);
  --color-brush: var(--color-foreground);
}

@utility palette-foreground {
  --color-palette: var(--color-foreground);
}

@layer base {
  body {
    font-family: sans-serif;
  }

  * {
    @apply border-background-thick;
  }
}

@utility wrapper {
  @apply px-6 max-w-5xl mx-auto;
}

@utility heading {
  @apply text-5xl font-black;
}

@utility title {
  @apply text-2xl font-bold;
}