@import "@kadoui/tailwindcss";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #151515;
  --card: #f5f5f5;
  --card-foreground: #202020;
  --primary: #9100b6;
  --primary-foreground: #ffffff;
  --secondary: #e800b2;
  --secondary-foreground: #ffffff;
  --error: #ff0000;
  --error-foreground: #ffffff;
  --success: #00e030;
  --success-foreground: #ffffff;
  --warning: #ffae00;
  --warning-foreground: #ffffff;
  --info: #3a3aff;
  --info-foreground: #ffffff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);

  --shadow-*: initial;
  --shadow-xs: 0 0 5px 0 #efefef25;
  --shadow-sm: 0 0 10px 0 #efefef25;
  --shadow-md: 0 0 20px 0 #efefef25;
  --shadow-lg: 0 0 35px 0 #efefef25;
  --shadow-xl: 0 0 60px 0 #efefef25;
  --shadow-xs-b: 0 2.5px 5px 0 #efefef25;
  --shadow-sm-b: 0 5px 10px 0 #efefef25;
  --shadow-md-b: 0 10px 20px 0 #efefef25;
  --shadow-lg-b: 0 17.5px 35px 0 #efefef25;
  --shadow-xl-b: 0 30px 60px 0 #efefef25;
  --shadow-xs-t: 0 -2.5px 5px 0 #efefef25;
  --shadow-sm-t: 0 -5px 10px 0 #efefef25;
  --shadow-md-t: 0 -10px 20px 0 #efefef25;
  --shadow-lg-t: 0 -17.5px 35px 0 #efefef25;
  --shadow-xl-t: 0 -30px 60px 0 #efefef25;
}

/* Dark mode */

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme="dark"] {
  --background: #151515;
  --foreground: #efefef;
  --card: #202020;
  --card-foreground: #dfdfdf;
}

/* Base styles */

@layer base {
  body {
    font-family: sans-serif;
  }
}

/* Layout utilities */

@utility wrapper {
  @apply px-3 max-w-5xl mx-auto;
}

@utility heading {
  @apply text-5xl font-black;
}

@utility title {
  @apply text-2xl font-bold;
}
