@import "tailwindcss";
@import "@kadoui/tailwindcss";

:root {
  --background: #efefef;
  --foreground: #151515;
  --card: #dfdfdf;
  --card-foreground: #202020;
  --primary: #ff5e00;
  --primary-foreground: #ffffff;
  --secondary: #ab00c2;
  --secondary-foreground: #ffffff;
  --error: #ff0000;
  --error-foreground: #ffffff;
  --success: #00b600;
  --success-foreground: #ffffff;
  --warning: #ffd900;
  --warning-foreground: #ffffff;
  --info: #0000dd;
  --info-foreground: #ffffff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
}

/* Dark mode */

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme="dark"] {
  --background: #151515;
  --foreground: #efefef;
  --card: #202020;
  --card-foreground: #dfdfdf;
}

/* Base styles */

@layer base {
  body {
    font-family: sans-serif;
  }
}

/* Layout utilities */

@utility wrapper {
  @apply px-(--element-spacing) max-w-5xl mx-auto;
}

@utility heading {
  @apply text-5xl font-black;
}

@utility title {
  @apply text-2xl font-bold;
}