@utility breadcrumbs {
  @apply flex items-center flex-wrap gap-x-(--element-spacing) gap-y-[calc(var(--element-spacing)/2)];
}

@utility breadcrumbs-item {
  @apply flex items-center gap-[calc(var(--element-spacing)/2)];
}