@utility choice {
  @apply border border-palette p-1 outline-solid outline-2 outline-transparent focus-visible:outline-palette outline-offset-2;
}

@utility choice-radio {
  @apply rounded-full flex items-center justify-center;

  width: var(--element-size);
  height: var(--element-size);

  &[data-state="false"]>.choice-radio-trigger {
    @apply opacity-0 scale-0;
  }
}

@utility choice-radio-trigger {
  @apply bg-palette rounded-full transition-all flex items-center justify-center text-brush;

  width: calc(var(--element-size) - 0.5rem);
  height: calc(var(--element-size) - 0.5rem);
}

@utility choice-checkbox {
  @apply rounded-(--element-rounded) flex items-center justify-center;

  width: var(--element-size);
  height: var(--element-size);

  &[data-state="false"]>.choice-checkbox-trigger {
    @apply opacity-0 scale-0;
  }
}

@utility choice-checkbox-trigger {
  @apply bg-palette rounded-[calc(var(--element-rounded)-0.25rem)] transition-all flex items-center justify-center text-brush;

  width: calc(var(--element-size) - 0.5rem);
  height: calc(var(--element-size) - 0.5rem);
}

@utility choice-switch {
  @apply relative rounded-full flex items-center;

  width: calc(var(--element-size) * 2);
  height: var(--element-size);

  &[data-state="true"] {
    @apply bg-palette text-brush;

    &>.choice-switch-trigger {
      @apply bg-brush text-palette;

      left: calc(var(--element-size) + 0.25rem);
    }
  }

  &[data-state="false"]>.choice-switch-trigger {
    @apply bg-palette text-brush;

    left: 0.25rem;
  }
}

@utility choice-switch-trigger {
  @apply absolute rounded-full transition-all flex items-center justify-center;

  width: calc(var(--element-size) - 0.5rem);
  height: calc(var(--element-size) - 0.5rem);
}