/*
  Start Main
*/
@utility choice {
  --choice-palette: var(--color-foreground);
  --choice-brush: var(--color-background);
  --choice-size: calc(var(--spacing) * 7);

  @apply flex shrink-0 cursor-pointer items-center justify-center transition-colors outline-solid outline-1 outline-offset-2 outline-transparent disabled:opacity-50 disabled:cursor-not-allowed;

  &:focus-visible {
    outline-color: var(--choice-palette);
  }

  & > svg {
    width: calc(var(--choice-size) * 0.5);
    height: calc(var(--choice-size) * 0.5);
    flex-shrink: 0;
  }
}
/*
  End Main
*/

/*
  Start Variants
*/
@utility choice-radio {
  padding: 3px;
  width: var(--choice-size);
  height: var(--choice-size);
  border-radius: calc(infinity* 1px);
  border: 1px solid var(--choice-palette);

  &[data-state="false"] {
    & > .choice-radio-thumb {
      @apply opacity-0;
    }
  }
}

@utility choice-radio-thumb {
  @apply size-full flex items-center justify-center rounded-full transition-all;

  color: var(--choice-brush);
  background-color: var(--choice-palette);
}

@utility choice-checkbox {
  width: var(--choice-size);
  height: var(--choice-size);
  border-radius: var(--radius-md);
  box-shadow: inset 0 0 0 1px var(--choice-palette);

  &[data-state="false"] {
    & > .choice-checkbox-thumb {
      @apply opacity-0;
    }
  }
}

@utility choice-checkbox-thumb {
  @apply size-full flex items-center justify-center transition-all;

  color: var(--choice-brush);
  border-radius: var(--radius-md);
  background-color: var(--choice-palette);
}

@utility choice-switch {
  @apply relative;

  height: var(--choice-size);
  border-radius: calc(infinity* 1px);
  width: calc(var(--choice-size) * 2);
  border: 1px solid var(--choice-palette);

  &[data-state="true"] {
    color: var(--choice-brush);
    background-color: var(--choice-palette);

    & > .choice-switch-thumb {
      color: var(--choice-palette);
      background-color: var(--choice-brush);
      left: calc(var(--choice-size) + 3px);
    }
  }

  &[data-state="false"] {
    & > .choice-switch-thumb {
      left: 3px;
      color: var(--choice-brush);
      background-color: var(--choice-palette);
    }
  }
}

@utility choice-switch-thumb {
  @apply absolute flex items-center justify-center rounded-full transition-all;

  width: calc(var(--choice-size) - 6px);
  height: calc(var(--choice-size) - 6px);
}
/*
  End Variants
*/

/*
  Start Colors
*/
@utility choice-background {
  --choice-palette: var(--color-background);
  --choice-brush: var(--color-foreground);
}

@utility choice-foreground {
  --choice-palette: var(--color-foreground);
  --choice-brush: var(--color-background);
}

@utility choice-card {
  --choice-palette: var(--color-card);
  --choice-brush: var(--color-card-foreground);
}

@utility choice-primary {
  --choice-palette: var(--color-primary);
  --choice-brush: var(--color-primary-foreground);
}

@utility choice-secondary {
  --choice-palette: var(--color-secondary);
  --choice-brush: var(--color-secondary-foreground);
}

@utility choice-error {
  --choice-palette: var(--color-error);
  --choice-brush: var(--color-error-foreground);
}

@utility choice-success {
  --choice-palette: var(--color-success);
  --choice-brush: var(--color-success-foreground);
}

@utility choice-warning {
  --choice-palette: var(--color-warning);
  --choice-brush: var(--color-warning-foreground);
}

@utility choice-info {
  --choice-palette: var(--color-info);
  --choice-brush: var(--color-info-foreground);
}
/*
  End Colors
*/

/*
  Start Sizes
*/
@utility choice-xs {
  --choice-size: calc(var(--spacing) * 5);
}

@utility choice-sm {
  --choice-size: calc(var(--spacing) * 6);
}

@utility choice-md {
  --choice-size: calc(var(--spacing) * 7);
}

@utility choice-lg {
  --choice-size: calc(var(--spacing) * 8);
}

@utility choice-xl {
  --choice-size: calc(var(--spacing) * 9);
}
/*
  End Sizes
*/
