@utility modal-portal {
  @apply fixed inset-0 z-50 p-(--element-spacing) flex bg-foreground/50;
}

@utility modal-body {
  @apply w-fix h-fix flex flex-col;

  &:has(.modal-header) .modal-content {
    @apply rounded-t-none;
  }

  &:has(.modal-footer) .modal-content {
    @apply rounded-b-none;
  }
}

@utility modal-header {
  @apply min-h-(--element-size) flex items-center p-(--element-spacing) gap-(--element-spacing) bg-background rounded-t-(--element-rounded) border-b border-background-thin sticky top-0 shrink-0;
}

@utility modal-footer {
  @apply min-h-(--element-size) flex items-center p-(--element-spacing) gap-(--element-spacing) bg-background rounded-b-(--element-rounded) border-t border-background-thin sticky bottom-0 shrink-0;
}

@utility modal-content {
  @apply w-full p-(--element-spacing) bg-background rounded-(--element-rounded) overflow-y-auto;
}