@utility modal-portal {
  @apply fixed inset-0 z-50 flex items-center justify-center bg-foreground/50;
}

@utility modal-body {
  @apply w-max max-w-[90%] h-full max-h-[90%] flex items-center justify-center flex-col;
}

@utility modal-header {
  @apply w-full h-[calc(var(--element-h)*1.5)] flex items-center px-(--element-spacing) bg-background rounded-t-(--element-rounded) border-b border-background-thin sticky top-0;
}

@utility modal-content {
  @apply w-full py-(--element-spacing) px-(--element-spacing) bg-background rounded-b-(--element-rounded) max-h-[calc(100%-(var(--element-h)*1.5))] overflow-y-auto;
}