@utility progress {
  @apply w-full rounded-(--element-rounded) overflow-hidden h-(--element-h) bg-palette/10;
}

@utility progress-bar {
  @apply flex items-center justify-center h-full bg-palette text-brush max-w-full;
}