@utility rating {
  @apply flex items-center w-fix;
}

@utility rating-items {
  @apply transition-all px-[calc(var(--element-spacing)/2)] not-active:hover:-translate-y-[calc(var(--element-spacing)/2)];
}