@utility select-box-input {
  @apply relative;
}

@utility select-box-list {
  @apply card card-y absolute position-b w-full cursor-default z-10;
}

@utility select-box-option {
  @apply btn element-w-full justify-start;
}